<o-form-layout-manager attr="AnimalShowAssociation" mode="tab" title="ANIMALSHOWASSOCIATION">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="AnimalShowAssociationTable" 
            service="AnimalShowAssociation" 
            entity="AnimalShowAssociation" 
            title="ANIMALSHOWASSOCIATION"
            keys="id"
            columns="id;animal_id;show_id" 
            header-actions="R;D"
            visible-columns="id;animal_id;show_id"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="animal_id" title="animal_id">
    <o-table-cell-renderer-service attr="animal_id" 
        service="Animal" entity="AnimalType" columns="id;name"
        parent-keys="id:animal_id"
        value-column="name" keys="animal_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="show_id" title="show_id">
    <o-table-cell-renderer-service attr="show_id" 
        service="Show" entity="ShowType" columns="id;name"
        parent-keys="id:show_id"
        value-column="name" keys="show_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>